doctype html

html
    head
        title سامانه اشتراک گذاری غذا
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- meta(name="theme-color" content="#050507")
        //- script(src="/js/index.js")
        link(rel="stylesheet", href="/css/layout.css")
        link(rel="stylesheet", href="/css/register.css")

        block styles
    body
        .black-modal
        //- include ./components/navbar
        .logo 
            img(src="/img/logo.png")
        .register-view 
            h1 تکمیل اطلاعات پروفایل
            p لطفا اطلاعات پروفایل خود را تکمیل نمایید.
            form(action="/users/send-sms" method="POST") 
                .text-input-view 
                    label(for="fullname") نام و نام خانوادگی: 
                    input(type="text" name="fullname" placeholder="نام و نام خانوادگی")
                .text-input-view 
                    label(for="studentNumber") شماره دانشجویی: 
                    input(type="text" name="studentNumber" placeholder="شماره دانشجویی")
                .text-input-view 
                    label(for="sex") نام مشاور املاک: 
                    input(type="text" name="sex" placeholder="نام و نام خانوادگی")
                button.submit(type="submit") ارسال کد تایید
        //- include ./components/footer
        script(src="/js/numberFixer.js") 
